# Created by https://www.toptal.com/developers/gitignore/api/dotnetcore
# Edit at https://www.toptal.com/developers/gitignore?templates=dotnetcore

### DotnetCore ###
# .NET Core build folders
bin/
obj/

# Common node modules locations
/node_modules
/wwwroot/node_modules

#Development environment files
.vscode/
.idea/
appsettings.Development.json
docker-compose.dev.yml
WattWatch.http

#Secrets
.env

#Docker volumes / local data
postgres_data/
grafana_data/

# End of https://www.toptal.com/developers/gitignore/api/dotnetcore

